#featured-speakers {
  @include flex-center(column);

  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 2rem;
  padding: 2rem;
  margin: 2rem 0;
}

.featured-speakers-title {
  @include title-container();

  color: #000;
  margin: 0;
}

.speaker-container {
  display: flex;
  column-gap: 1.5rem;
}

.speaker-image {
  img {
    width: 100%;
  }
}

.speaker-details {
  @include flex-center(column);

  align-items: flex-start;
  row-gap: 1rem;
  width: 100%;

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;

    i {
      color: $red;
    }
  }

  hr {
    width: 10%;
    border: none;
    height: 1px;
    background-color: $light-grey;
  }
}

@media only screen and (min-width: 500px) {
  .speaker-details {
    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
}
