footer {
  @include flex-center(row);

  height: 15vh;
  column-gap: 4rem;
  padding: 3rem;
}

.footer-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.footer-text {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 500px) {
  .footer-image {
    img {
      width: 70%;
    }
  }

  .footer-text {
    font-size: 1.4rem;
  }
}
