#main-program {
  @include flex-center(column);

  justify-content: space-evenly;
  color: white;
  background-color: $dark-grey;
  background-image: url('../images/pattern_bg.png');
}

.main-program-title {
  @include title-container();
}

.button {
  @include flex-center(column);

  width: 100%;
  margin: 3rem;
  padding: 0 3rem;

  button {
    background-color: $red;
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2.5rem 4rem;

    &:active {
      background-color: $red-hover;
    }
  }
}

.cards-container {
  width: 100%;
  padding: 0 1rem;

  @include flex-center(column);

  row-gap: 1rem;

  article {
    width: 100%;
    display: grid;
    background-color: $rgba-light-grey;
    align-items: center;
    column-gap: 1.5rem;
    grid-template-columns: 0.5fr 1fr 2fr;
    padding: 1rem;

    h2 {
      font-size: 1.6rem;
      flex-grow: 2;
    }

    p {
      flex-grow: 1;
      font-size: 1.4rem;
    }
  }
}
