#hero-section {
  text-align: center;
}

.hero-title {
  color: $red;

  h2 {
    font-size: calc(2.5rem + 1vw);
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: calc(3rem + 1vw);
    font-weight: 900;
  }
}

.message {
  background-color: white;
  border-color: $light-grey;
  border-width: 1px;
  margin-bottom: 2rem;
}

.contact {
  font-size: calc(0.3rem + 0.8vw);

  p {
    width: 90%;
    margin: auto;
    line-height: 2rem;
  }

  h3 {
    margin-top: 1rem;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 500px) {
  .message {
    p {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    h1 {
      width: 78%;
      margin: auto;
    }
  }

  .message {
    width: 80%;
    margin: 4rem auto;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-title {
    h1 {
      width: 60%;
      margin: auto;
    }
  }

  .message {
    width: 50%;
    margin: 4rem auto;

    p {
      font-size: 2rem;
    }
  }
}
