#hero-section {
  text-align: center;
}

.hero-title {
  color: $red;

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

.message {
  background-color: white;
  border-color: $light-grey;
  border-width: 1px;
  margin-bottom: 2rem;
}

.contact {
  font-size: 1.3rem;

  p {
    width: 90%;
    margin: auto;
    line-height: 2rem;
  }

  h4 {
    margin-top: 1rem;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 500px) {
  .hero-title {
    h2 {
      font-size: 3rem;
    }

    h1 {
      font-size: 4rem;
    }
  }

  .message {
    p {
      font-size: 2 rem;
    }
  }

  .contact {
    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    h2 {
      font-size: 3rem;
    }

    h1 {
      font-size: 5rem;
      width: 78%;
      margin: auto;
    }
  }

  .message {
    width: 80%;
    margin: 4rem auto;
  }

  .contact {
    p {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero-title {
    h2 {
      font-size: 4rem;
    }

    h1 {
      font-size: 6.5rem;
      width: 60%;
      margin: auto;
    }
  }

  .message {
    width: 40%;
    margin: 4rem auto;

    p {
      font-size: 2rem;
    }
  }

  .contact {
    p {
      font-size: 1.8rem;
    }
  }
}
