nav {
  display: none;
}

.navbar-container {
  background-color: $dark-grey;
  color: white;

  ul {
    display: flex;
    list-style: none;
    column-gap: 50px;
    justify-content: flex-end;
    padding: 1rem;
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: block;
  }
}
