@import './global-style';
@import './hero-section';
@import './main-program';
@import './navbar';
@import './partners';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
